//animations for content

//header top
@keyframes header-top-in
  0%
    top: -112px
  100%
    top: 0
.header-top-in-a
  animation: header-top-in 500ms forwards
.header-top-out-a
  animation: header-top-in 500ms reverse
@keyframes header-top-out
  0%
    top: 0
  100%
    top: -112px
