//posts page
body.blog
  .page
    background-color: #f6f6f6
    article.post
      margin-bottom: 60px
      h2.entry-title
        text-transform: uppercase
        font-size: 180%
      .p-meta
        margin-right: 8px
      .post-text
        padding: 23px 23px 35px 23px
        background-color: $wh
