body.single-post
  ol.comment-list
    list-style: none
    li.comment
      background-color: $wh
      padding: 23px
      margin-bottom: 15px
      .image
        float: left
      .text
        min-height: 80px
        padding-left: 100px
      h5.name
        margin-bottom: 0
