#comments
  margin-top: 30px
  .no-comments
    margin: 28px 0 38px
  .comment-reply-title
    margin-bottom: 5px
  ol.comment-list
    list-style: none
    .bypostauthor
      border-top: 3px solid $button
    ol.children
      list-style: none
      margin: 1rem 0 0 0.5rem
      li.comment
        padding: 1rem
        background-color: $body-b-c
    li.comment.depth-1
      background-color: $wh
      padding: 23px
      margin-bottom: 18px
      .image
        float: left
        width: 25%
        padding-right: 10px
        > img
          max-width: 100%
      .text
        float: left
        min-height: 80px
        width: 75%
      h5.name
        margin-bottom: 0
      a.comment-reply-link
        text-transform: uppercase
      .comment-date
        text-transform: uppercase
        display: inline-block
        margin-right: 4px
