*
  margin: 0
  padding: 0
  box-sizing: border-box
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
body
  font-family: $body-f
  font-size: 87.5%
  color: $body-c
  background-color: #f6f6f6
  line-height: 1.7
  overflow-x: hidden
//headings
@for $i from 1 through 6
  h#{$i}
    font-family: $headings-f
    font-weight: normal
    color: $headings-c
    margin-bottom: 20px
    text-transform: uppercase
//paragraphs
p
  font-size: 100%
  margin-bottom: 20px
  color: $body-c
img
  max-width: 100%
  width: 100%
  height: auto
  vertical-align: middle
//prevents parent div with floated children from collapsing
section, div, header, footer, nav
  &::after
    @include clearfix
//Anchor Tags
a
  color: $headings-c
  text-decoration: none
  @include transition(all, 0.2s, ease-in-out)
  &:hover
    color: $button
  &:focus
    outline: 0
//clear floats
.clear
  clear: both
//center Content
.center-content
  max-width: 1400px
  width: 85%
  margin: 0 auto
//page
.page
  padding: 40px 0
//max width
.max-width
  max-width: 1400px
  margin: 0 auto
  width: 100%
//titles
.pri-title
  text-align: center
  margin-bottom: 30px
//screen reader
.screen-reader-text
  clip: rect(1px, 1px, 1px, 1px)
  clip-path: polygon(0px 0px, 0px 0px,0px 0px, 0px 0px)
  position: absolute !important
  white-space: nowrap
  height: 1px
  width: 1px
  overflow: hidden
.screen-reader-text
  position: absolute !important
  left: -999em
//floats
.left
  float: left !important
.right
  float: right !important
