header.top
  padding: 20px 0
  h1
    margin: 0
      top: 10px
    font-size: 220%
#menu-top
  float: right
  min-height: 60px
  padding-top: 10px
  transition: 0.3s ease-in-out
  background-color: $wh
  z-index: 9999
  > li
    display: inline-block
    list-style: none
    > a
      font-size: 14px
      display: inline-block
      color: $body-c
      text:
        decoration: none
        transform: uppercase
      letter-spacing: 2px
      line-height: 60px
      margin-right: 50px
      &:hover
        color: $logo
      &::after
        content: ''
        color: $logo
        display: block
        border-bottom: 1px solid $logo
        width: 0
        @include transition(all, 150ms, ease-in-out)
        @include transform(translateY, -13px)
      &:hover::after
        width: 130%
//sticky nav bar when scrolling through page
#menu-top.sticky
  position: fixed
  background-color: $wh
  z-index: 9999
  box-shadow: rgba(0,0,0,.117647) 0 1px 3px
  a
    color: $body-c
    &::after
      border-color: $body-c
    &:hover
      color: $logo
      &::after
        color: $logo
//mobile navigation
.mobile-menu-button
  font-size: 1.5em
  font-weight: 100
  color: $logo
  float: right
  padding: 10px 20px
  margin-top: 6px
  background-color: transparent
  border: none
  cursor: pointer
  display: none
  &:hover
    color: $logo
  &:focus
    outline: none
nav.mobile-menu
  width: 100%
  background-color: $wh
  position: relative
  float: left
  z-index: 999
  > ul
    display: none
    > li
      list-style: none
      border-bottom: 1px solid #ddd
      &:last-child
        border-bottom: none
      > a
        display: block
        padding: 1em
        color: #2d2323
        text-transform: uppercase
        font-size: 75%
        font-weight: 600
        letter-spacing: 1px
@media all and (max-width: 993px)
  nav.mobile-menu
    padding-top: 20px
    > ul
      display: block
  .mobile-menu-button
    display: block
  nav.main-menu
    #menu-top
      display: none
