//styling for shortcodes
//pricing table
.atheme-pricing-table-column.featured
  margin:
    top: -20px
  padding:
    bottom: 70px
.atheme-pricing-table-column
  text-align: center
  padding: 50px
  background-color: $wh
  h2.atheme-pricing-table-title
    margin-bottom: 9px
    > span
      display: block
      font-size: 65%
      letter-spacing: 2px
      color: $button
  div.atheme-pricing-column-info
    h3.atheme-price
      font-size: 260%
    span.atheme-interval
      margin: 0 -50px 20px -50px
      display: block
      padding: 10px 0
      background-color: $button
      color: $wh
      font-size: 97%
      text-transform: uppercase
      letter-spacing: 2px
    $button-sizes: lg md sm
    @each $size in $button-sizes
      .button-#{$size}
        margin-bottom: 0
@media all and (max-width: 993px)
  .atheme-pricing-table-column.featured
    margin:
      top: 0
    padding:
      bottom: 50px
//icon list
.atheme-icon-list
  margin-bottom: 30px
  > li
    margin-bottom: 17px
    > i
      display: inline-block
      margin-right: 8px
//blockquotes
.atheme-blockquote-wrap
  blockquote.atheme-blockquote
    background-color: $wh
    font-size: 140%
    position: relative
    &::before
      float: none
      font-size: 140%
      margin-right: 12px
    .atheme-cite
      color: $button
      font-size: 90%
      display: block
      font-style: normal
      &::before
        content: '\2013\00A0'
    &::after
      content: ''
      position: absolute
      top: 100%
      left: 50%
      border: solid transparent
      border-top-color: $wh
      border-width: 23px
      transform: translate(-50%, 0)
  img.atheme-blockquote-image
    max-width: 90px
    border-radius: 50%
    position: relative
    top: 35px
    left: 4px
//skillbar
h6.h-skill-bar
  margin-bottom: 0
.atheme-skill-bar
  height: 25px
  margin-bottom: 25px
  background-color: $wh
  .bar
    height: 100%
    position: relative
    .percent
      color: $wh
      position: absolute
      top: 0
      right: 5px
//flipping cards
.atheme-card
  height: 330px
  min-height: 250px
  max-width: 340px
  margin: 0 auto
  position: relative
  -webkit-perspective: 1200px
  perspective: 1200px
  &:hover
    .atheme-card-inner
      -webkit-transform: rotatey(-180deg)
      transform: rotatey(-180deg)
  .atheme-card-inner
    width: 100%
    height: 100%
    transform-style: preserve-3d
    transition: 0.5s
    -webkit-transform-style: preserve-3d
    -webkit-transition: 0.5s
    .face
      width: 100%
      height: 100%
      position: absolute
      -webkit-backface-visibility: hidden
      backface-visibility: hidden
      text-align: center
      cursor: pointer
      &.back
        -webkit-transform: rotatey(-180deg)
        transform: rotatey(-180deg)
      .card-content
        width: 100%
        height: 100%
        padding: 10%
        background: $wh
        &.back-content
          border: 8px solid $headings-c
@media all and (max-width:385px)
  .atheme-blockquote-wrap
    blockquote.atheme-blockquote
      font-size: 125%
      &::before
        font-size: 133%
