//main and blog sidebar
#sidebar-main, #sidebar-blog
  z-index: 100
  border-left: 1px solid #ccc
  padding: 20px 20px
  .widget
    ul
      list-style: none
  h2.widget-title
    font:
      size: 200%
