//main and blog sidebar
#sidebar-main, #sidebar-blog
  z-index: 100
  padding: 20px 20px
  .widget
    margin-bottom: 40px
    ul
      list-style: none
  .widget_recent_comments
  h2.widget-title
    margin-bottom: 14px
    text-transform: uppercase
    font:
      size: 140%
