//main sidebar for the whole site
#sidebar-main
  position: absolute
  top: 50px
  left: 0
  bottom: 0px
  z-index: 100
  border-right: 1px solid #ccc
  padding: 20px 20px
  h2.widget-title
    font:
      size: 200%
