body.single-post
  article
    .post-title-holder
      span.underline
        display: block
        background-color: #303030
        margin: 0 0 20px 0
        height: 2px
        width: 30px
        position: relative
    .post-title
      .p-meta
        margin:
          bottom: 0
          right: 8px
  .post-image
    > img
      width: 100%
