body.single-post
  article
    .gallery-content
      margin: 0 0 15px
    .post-title
      h2.entry-title
        margin-bottom: 0
      .p-meta
        margin:
          bottom: 0
          right: 8px
  .post-image
    margin:
      bottom: 15px
    > img
      width: 100%
