//tags
.tags, .tagcloud
  max-width: 700px
  > a
    font-size: 100% !important
    display: inline-block
    margin:
      right: 5px
      bottom: 5px
    padding: 7px 6px
    border: 1px solid $headings-c
    color: $headings-c
    &:hover
      color: $button
      border-color: $button
