//global titles
.title-holder, .post-title-holder,
.category-header, .archive-header,
.tag-header, .page-title-holder
  h1.header-title
    margin-bottom: 10px
span.underline
  display: inline-block
  background-color: #303030
  margin: 0 0 36px 0
  height: 2px
  width: 30px
//centered titles
.title-center
  text-align: center
  span.underline
    margin: 0 auto 20px auto
