.widget
  ul
    list-style: none
    > li
      margin:
        bottom: 17px
  h2.widget-title
    margin-bottom: 10px
    font:
      size: 140%
.widget_calendar
  caption
    text-transform: uppercase
  table
    border-collapse: collapse
  tr
    td
      text-align: center
      padding: 5px
      > a
        color: $button
.widget_recent_entries
  ul
    span
      color: #9d9d9d
$widgets: categories tag_cloud
$unicodes: '\f07b' '\f02c' '\f0f6'
$i: 1
@each $widget in $widgets
  .widget_#{$widget}
    > h2
      @include icon-before(nth($unicodes, $i))
  $i: $i + 1
